

.0content-mrngn {
	margin: 2px;
	padding: 2px;
}

#content-mrngn {
	margin: 1px;
	padding: 1px;
}

.content-mrngn-bx {
	margin: 1px;
	padding: 1px;
}

#bx-mrng {
	margin: 2px;
	padding: 3px;
}

.contentLink {
	font-weight: bold;
	color: #F30;
}
